# 롯데리아 업데이트
주소2(시군구 이름)이 잘못된 데이터 처리

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
dat = pd.read_csv("lotteria_all_store.csv")
dat

,지점명,주소,주소1,주소2,주소3
0,가평휴게소(상),경기 가평군 설악면 미사리로 544,경기도,가평군,설악면 미사리로 544
1,수원파장,경기 수원시 장안구 파장로 91,경기도,수원시,장안구 파장로 91
2,대구성당D/T,대구 달서구 구마로 209,대구광역시,달서구,구마로 209
3,아산장재,서울 용산구 한강대로71길 47,서울특별시,용산구,한강대로71길 47
4,김포마산,경기 김포시 김포한강8로148번길 5,경기도,김포시,김포한강8로148번길 5
...,...,...,...,...,...
1299,여의도선착장,서울 영등포구 여의동로 290,서울특별시,영등포구,여의동로 290
1300,청주하나로,충북 청주시 상당구 무농정로 32 청주하나로클럽內,충청북도,청주시,상당구 무농정로 32 청주하나로클럽內
1301,전주효자서부,전북 전주시 완산구 호암로 65,전라북도,전주시,완산구 호암로 65
1302,시흥정왕역,경기 시흥시 마유로418번 길10,경기도,시흥시,마유로418번 길10
1303,아산탕정,충남 아산신 탕정면 탕정면로 37,충청남도,아산신,탕정면 탕정면로 37

In [3]:
# 중복 제거
addr = dat["주소2"].unique()
addr

array(['가평군', '수원시', '달서구', '용산구', '김포시', '여수시', '김해시', '용인시', '진주시',
       '의정부시', '안산시', '영암군', '양천구', '연수구', '원주시', '문경시', '광명시', '서구',
       '하남시', '청주시', '무안군', '남양주시', '논산시', '동구', nan, '마포구', '고양시', '천안시',
       '남구', '사하구', '북구', '안양시', '포항시', '강동구', '시흥시', '화성시', '구미시', '충주시',
       '부평구', '제주시', '전주시', '양양군', '이천시', '광주시', '평택시', '강서구', '은평구',
       '서천군', '홍천군', '거제시', '산청군', '서대문구', '군포시', '달성군', '중구', '창원시',
       '진도군', '평창군', '수성구', '성남시', '남동구', '의령군', '익산시', '부천시', '광산구',
       '동래구', '제천시', '노원구', '당진시', '진안군', '경산시', '안성시', '서초구', '서귀포시',
       '파주시', '서산시', '성동구', '순천시', '밀양시', '안동시', '금정구', '해운대구', '강남구',
       '곡성군', '의성군', '부산진구', '영주시', '음성군', '금천구', '춘천시', '구리시', '관악구',
       '동대문구', '보성군', '속초시', '울릉군', '인제군', '수영구', '울주군', '장수군', '경주시',
       '송파구', '영등포구', '양주시', '유성구', '옹진군', '아산시', '중랑구', '오산시', '양산시',
       '정읍시', '의왕시', '동작구', '고성군', '함평군', '김천시', '홍성군', '무주군', '보령시',
       '구례군', '강북구', '청원군', '당진군', '강릉시', '여주군', '과천시', '기장군', '나주시금천면',
       '봉화군', '하동군', '금남면', '연기면', '양평군', '성북구', '구로구', '고령군', '고흥군고흥읍',
       '연제구', '사상구', '장성군장성읍', '순창군', '논산시연무읍', '창녕군남지읍', '임실군임실읍', '완주군',
       '광진구', '담양군', '부안군', '성주군', '함안군', '화천군', '부여군', '장흥군', '영천시',
       '군산시', '대덕구', '도봉구', '계양구', '강진군', '여주시', '동두천시', '진구', '목포시',
       '종로구', '정선군', '남원시', '동해시', '괴산군', '철원군', '포천시', '영광군', '청양군',
       '광양시', '완도군', '단양군', '함양군', '통영시', '을주군', '영덕군', '칠곡군', '청도군',
       '예천군', '합천군', '창녕군', '사천시', '울진군', '남해군', '거창군', '상주시', '화순군',
       '광역시', '고창군', '해남군', '나주시', '김제시', '조치원읍', '옥천군', '공주시', '진천군',
       '태안군', '계룡시', '금산군', '영동군', '증평군', '예산군', '보은군', '태백시', '영월군',
       '횡성군', '양구군', '삼척시', '강화군', '연천군', '남양주시화도읍', '영도구', '구로', '종로2가',
       '아산신'], dtype=object)

## 1. nan 값 처리
- 세종특별자치시 주소가 거리명으로 되어 있음 
- 세종특별자치시는 1읍 9면 10행정동 18법정동으로 구성
- 지점명에 포함되어 있는 동 이름을 주소2로 붙여줌 (세종보람디엠시티는 직접 지정)

In [18]:
dat_nan = dat[dat["주소2"].isnull()]
dat_nan

          지점명               주소      주소1  주소2         주소3
29       세종반곡  세종  한누리대로 1824   세종특별자치시  NaN  한누리대로 1824
83   세종보람디엠시티  세종  한누리대로 2165   세종특별자치시  NaN  한누리대로 2165
84       세종고운   세종  마음안1로 137   세종특별자치시  NaN   마음안1로 137
87       세종소담  세종  한누리대로 2009   세종특별자치시  NaN  한누리대로 2009
282      세종종촌    세종  도움1로 108   세종특별자치시  NaN    도움1로 108
309      세종부강  세종  부강면 부강로 42   세종특별자치시  NaN  부강면 부강로 42

In [19]:
nan_addr2 = dat_nan["지점명"].str.slice(start=-2) + "동"
nan_addr2[83] = "보람동" # 세종보람디엠시티 직접 지정
nan_addr2

29     반곡동
83     보람동
84     고운동
87     소담동
282    종촌동
309    부강동
Name: 지점명, dtype: object

In [20]:
dat["주소2"][dat["주소2"].isnull()] = nan_addr2
dat["주소2"].isnull().sum() # 결측치 확인

0

## 2. 주소2 데이터 값이 이상한 경우
1. 군+읍/면가 합쳐서 나온 경우 (예) 나주시금천면
    - 분리시켜주기
2. 시,군,구,읍,면 등과 같은 행정구역 단위로 끝나지 않는 경우 (예) 구리, 종로2가
    - 값을 직접 지정해주기

In [22]:
# 주소2의 이름이 시,군,구,동으로 끝나지 않을 경우 exc에 저장

exc = []
for one in dat["주소2"].unique():
    try :
        if len(one)>5:
            exc.append(one)
        elif one[-1] not in ['시','구','군','동','면',"읍"] :
            exc.append(one)
    except :
        print(one)

exc

['나주시금천면',
 '고흥군고흥읍',
 '장성군장성읍',
 '논산시연무읍',
 '창녕군남지읍',
 '임실군임실읍',
 '남양주시화도읍',
 '구로',
 '종로2가',
 '아산신']

In [23]:
df_exc = pd.DataFrame()

for one in exc:
    df_exc = pd.concat([df_exc, dat[dat["주소2"]==one]])

df_exc

       지점명                     주소    주소1      주소2            주소3
358   나주혁신  전남 나주시금천면 빛가람로 189-1    전라남도   나주시금천면     빛가람로 189-1
385   전남고흥     전남 고흥군고흥읍 여산당촌길 8    전라남도   고흥군고흥읍        여산당촌길 8
396   전남장성     전남 장성군장성읍 영천로 166    전라남도   장성군장성읍        영천로 166
409   논산연무     충남 논산시연무읍 안심로 152    충청남도   논산시연무읍        안심로 152
428   경남남지    경남 창녕군남지읍 문화길 35-4    경상남도   창녕군남지읍       문화길 35-4
436     임실      전북 임실군임실읍 운수로 19    전라북도   임실군임실읍         운수로 19
1144    마석     경기 남양주시화도읍 마석로 14     경기도  남양주시화도읍         마석로 14
1221   개봉역   서울 구로 경인로 40길 47 1F   서울특별시       구로  경인로 40길 47 1F
1282   종각역         서울 종로2가 종로 68   서울특별시     종로2가          종로 68
1303  아산탕정    충남 아산신 탕정면 탕정면로 37    충청남도      아산신    탕정면 탕정면로 37

In [25]:
new_addr2 = []
for idx, one in enumerate(df_exc["주소2"]):
    if len(one)>5:
        new_addr2.append(one[:-3])
    elif one == "구로":
        new_addr2.append("구로구")
    elif one == "종로2가":
        new_addr2.append("종로구")
    elif one == "아산신":
        new_addr2.append("아산시")
    else :
        new_addr2.append(one)

new_idx = df_exc.index
print(new_idx)
print(new_addr2)

Int64Index([358, 385, 396, 409, 428, 436, 1144, 1221, 1282, 1303], dtype='int64')
['나주시', '고흥군', '장성군', '논산시', '창녕군', '임실군', '남양주시', '구로구', '종로구', '아산시']

In [26]:
dat.iloc[new_idx,3] = new_addr2 
dat.iloc[new_idx]

       지점명                     주소    주소1   주소2            주소3
358   나주혁신  전남 나주시금천면 빛가람로 189-1    전라남도   나주시     빛가람로 189-1
385   전남고흥     전남 고흥군고흥읍 여산당촌길 8    전라남도   고흥군        여산당촌길 8
396   전남장성     전남 장성군장성읍 영천로 166    전라남도   장성군        영천로 166
409   논산연무     충남 논산시연무읍 안심로 152    충청남도   논산시        안심로 152
428   경남남지    경남 창녕군남지읍 문화길 35-4    경상남도   창녕군       문화길 35-4
436     임실      전북 임실군임실읍 운수로 19    전라북도   임실군         운수로 19
1144    마석     경기 남양주시화도읍 마석로 14     경기도  남양주시         마석로 14
1221   개봉역   서울 구로 경인로 40길 47 1F   서울특별시   구로구  경인로 40길 47 1F
1282   종각역         서울 종로2가 종로 68   서울특별시   종로구          종로 68
1303  아산탕정    충남 아산신 탕정면 탕정면로 37    충청남도   아산시    탕정면 탕정면로 37

## 3. 확인

In [27]:
addr = dat["주소2"].unique()
print(addr)

result = True
for one in addr:
    if type(one)==float :
        result = False
        print(one)
    elif one[-1] not in ["시","구","군","동","면","읍"]:
        result = False
        print(one)
    elif len(one)>5:
        result =False
        print(one)

if result :
    print("결과 : 이상치가 없습니다.")
else :
    print("결과 : 이상치를 모두 출력하였습니다.")

['가평군' '수원시' '달서구' '용산구' '김포시' '여수시' '김해시' '용인시' '진주시' '의정부시' '안산시' '영암군'
 '양천구' '연수구' '원주시' '문경시' '광명시' '서구' '하남시' '청주시' '무안군' '남양주시' '논산시' '동구'
 '반곡동' '마포구' '고양시' '천안시' '남구' '사하구' '북구' '안양시' '포항시' '강동구' '시흥시' '화성시'
 '구미시' '충주시' '부평구' '제주시' '전주시' '양양군' '이천시' '광주시' '평택시' '강서구' '은평구' '서천군'
 '홍천군' '거제시' '산청군' '서대문구' '군포시' '달성군' '보람동' '고운동' '중구' '소담동' '창원시' '진도군'
 '평창군' '수성구' '성남시' '남동구' '의령군' '익산시' '부천시' '광산구' '동래구' '제천시' '노원구' '당진시'
 '진안군' '경산시' '안성시' '서초구' '서귀포시' '파주시' '서산시' '성동구' '순천시' '밀양시' '안동시' '금정구'
 '해운대구' '강남구' '곡성군' '의성군' '부산진구' '영주시' '음성군' '금천구' '춘천시' '구리시' '관악구'
 '동대문구' '보성군' '속초시' '울릉군' '인제군' '수영구' '울주군' '장수군' '경주시' '송파구' '영등포구' '양주시'
 '유성구' '옹진군' '아산시' '중랑구' '오산시' '양산시' '정읍시' '의왕시' '동작구' '고성군' '종촌동' '함평군'
 '김천시' '홍성군' '무주군' '보령시' '부강동' '구례군' '강북구' '청원군' '당진군' '강릉시' '여주군' '과천시'
 '기장군' '나주시' '봉화군' '하동군' '금남면' '연기면' '양평군' '성북구' '구로구' '고령군' '고흥군' '연제구'
 '사상구' '장성군' '순창군' '창녕군' '임실군' '완주군' '광진구' '담양군' '부안군' '성주군' '함안군' '화천군'
 '부여군' '장흥군' '영천시' '군산시' '대덕구' '도봉구' '계양구' '강진군' '여주시' '동두천시' '진구' '목포시'
 '종로구' '정선군' '남원시' '동해시' '괴산군' '철원군' '포천시' '영광군' '청양군' '광양시' '완도군' '단양군'
 '함양군' '통영시' '을주군' '영덕군' '칠곡군' '청도군' '예천군' '합천군' '사천시' '울진군' '남해군' '거창군'
 '상주시' '화순군' '광역시' '고창군' '해남군' '김제시' '조치원읍' '옥천군' '공주시' '진천군' '태안군' '계룡시'
 '금산군' '영동군' '증평군' '예산군' '보은군' '태백시' '영월군' '횡성군' '양구군' '삼척시' '강화군' '연천군'
 '영도구']
결과 : 이상치가 없습니다.

## 3. 잘못된 정보 처리
- 천안은 충청남도인데 충청북도라고 나와있는 데이터가 있다.

In [29]:
dat[(dat["주소1"]=="충청북도")&(dat["주소2"]=="천안시")]

         지점명                   주소   주소1  주소2          주소3
500  천안안서D/T  충북 천안시 동남구 망향로 190   충청북도  천안시  동남구 망향로 190

In [33]:
dat.iloc[500,1] = "충남 천안시 동남구 망향로 190"
dat.iloc[500,2] = "충청남도"

dat.iloc[500,:]

지점명               천안안서D/T
주소     충남 천안시 동남구 망향로 190
주소1                  충청남도
주소2                   천안시
주소3           동남구 망향로 190
Name: 500, dtype: object

In [34]:
# csv, xlsx 파일로 저장
dat.to_csv("lotteria_all_store_update.csv", index=False)
dat.to_excel("lotteria_all_store_update.xlsx", index=False)

os.listdir()

['.DS_Store',
 'lotteria_all_store.xlsx',
 'Lotteria_update.ipynb',
 'lotteria_all_store.csv',
 'lotteria_all_store_update.csv',
 '.ipynb_checkpoints',
 'Lotteria.ipynb',
 'lotteria_all_store_update.xlsx']